<!DOCTYPE html>
<html lang=""eng>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style.css">
        <title>IT Support Desk</title>
    </head>
    <body>
        <h1>Welcome to the Home Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur temporibus aliquid similique. Quaerat ea voluptatum sequi atque rerum ex commodi dolorem vitae maxime soluta, dolor quisquam repudiandae temporibus doloribus. Vero?</p>
    </body>
</html>